*{
  margin: 0;
  padding: 0;
}

/* Media Queries */
@media query {

}

/* Fonts */

@font-face {
  font-family: oswald;
  src: url(../fonts/oswald-regular.woff) format('woff')
}
@font-face {
  font-family: oswaldLight;
  src: url(../fonts/oswald-light.woff) format('woff')
}
@font-face {
  font-family: oswaldBold;
  src: url(../fonts/oswald-bold.woff) format('woff')
}
@font-face {
  font-family: oswaldMedium;
  src: url(../fonts/oswald-medium.woff) format('woff')
}
@font-face {
  font-family: quicksand;
  src: url(../fonts/quicksand-regular.woff) format('woff')
}


/*Global*/
header {
  background-color:#666c1d;
  color: #222310;
  font: 4em oswaldBold, sans-serif;
  text-align: center;
  padding: 25px 0px 10px 0px;
}

nav {
  background-color: #666c1d;
  text-align: center;
  font: 1.5em oswaldLight, helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: .08em;
  padding-bottom: 10px;
}

nav li {
  display: inline;
  margin: 0 20px;
}

a {
  color: #ffc9ba;
  text-decoration: none;
}

nav a:hover {
  color: #222310;
}

body {
  background-image: url(../img/stormclouds.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
}

p{
 font: normal 1.5em/1.2em quicksand, sans-serif;
 color: #b7b7b7;
 margin-bottom: 25px;
}

h1 {
 color: #ffc9ba;
 font:2em oswald, helvetica, sans-serif;
 text-transform: uppercase;
 margin-bottom: 10px;
}

.current {
  color: #b7b7b7;
}

.button{
  border-left: 4px #ffc9ba solid;
  border-right: 4px #ffc9ba solid;
  border-top: 2px #ffc9ba dotted;
  border-bottom: 2px #ffc9ba dotted;
  font: 1.5em oswaldMedium, helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: 10px 30px 5px 30px;
  background-color: #222310;
  color: #ffc9ba;
}

.button:hover{
  background-color: #ffc9ba;
  color:#222310;
  cursor:pointer;
}

footer {
  background-color: #222310;
  border-top: 3px #787d38 solid;
  text-align: center;
  width:100%;
  padding-top: 1.5em;
  position: fixed;
  bottom: 0;
  right: 0;
}

footer p {
  margin-top: 1.1em;
  margin-bottom: .5em;
  color: #787d38;
  font: normal 1em oswaldLight, sans-serif;
}



/*Index*/


.container {
  background-color: #222310;
  width: 80%;
  margin: auto;
  border-left: 8px #ffc9ba solid;
  border-top: 2px #ffc9ba dotted;
  margin-bottom: 10rem;
  padding-bottom: .5rem;
}

.summary {
  margin: 2em;
}

.summary .button{
  font: 1.1em oswaldMedium, helvetica, sans-serif;
}


/* Portfolio */

.container-P{
  display: flex;
  justify-content: space-around;
  margin-top: 1.2em;
  margin-bottom: 10em;

}

.container-P div{
  border-left: 4px #ffc9ba solid;
  border-right: 4px #ffc9ba solid;
  border-top: 2px #ffc9ba dotted;
  padding: 1.5em;
  background-color: #222310;
  text-align: center;
  flex-basis: 10%;
}

.container-P img{
  margin-bottom: 1.5em;
  object-fit: cover;
  width: 300px;
  height: 300px;
}


/* About Me */
.my-form{
  margin: 2em;
  color: #787d38;

}

.my-form .form-group{
  padding-bottom: 15px;
}

.my-form label{
  display:block;
  font: normal 1.5em/1.1em oswald, sans-serif;
}

.my-form input[type="text"], .my-form textarea{
  padding:8px;
  width: 80%;
  background-color: inherit;
  border: 2px #ffc9ba dotted;
  color: #ffc9ba;
  font: normal 1.3em/1.1em quicksand, sans-serif;
  outline: none;
}
.my-form textarea{
  height: 100px;
}

.my-form input[type="text"]:focus, .my-form textarea:focus{
  border: 4px #ffc9ba solid
}

#aboutFoot{
  padding: 1em;
}
#aboutFoot p{
  margin:0;
}
